<div class="container-flow control-container">
    <div class="row">
        <div class="col text-center text-weight-bold mt-1" id="prevBtn" (click)="prevWeek()"><span
                class="material-icons week-size">skip_previous</span>
        </div>
        <div class="col-5 date-display mt-2">{{firstDayOfWeek}} - {{plus7Days}}</div>

        <div class="col text-center text-weight-bold mt-1" id="nextBtn" (click)="nextWeek()"><span
                class="material-icons week-size">skip_next</span>
        </div>
    </div>
</div>