<!-- Date Controller -->
<app-date-control></app-date-control>

<!-- Meal Display -->
<div class="container-flow" id="caldendar">
    <div class="container-flow week-card" *ngFor="let day of weekDataModel">
        <div class="col-12 card-title text-center">
            <p>{{day.day}}</p>
        </div>

        <div class="row text-center">
            <div *ngIf='day.lunch; then lunch else notSetLunch'></div>
            <div *ngIf='day.dinner; then dinner else notSetDinner'></div>
            <ng-template #lunch>
                <div class="col-6 food-block text-center" (click)="removeMeal(day.day, 'lunch')">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>{{day.lunch.name}}</p>
                        </div>
                        <div class="col-12 col-md-6" *ngFor="let tag of day.lunch.tags">
                            <img width="30" src="assets/icons/{{tag}}.svg" />
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #dinner>
                <div class="col-6 food-block text-center" (click)="removeMeal(day.day, 'dinner')">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>{{day.dinner.name}}</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <img *ngFor="let tag of day.dinner.tags" width="30" src="assets/icons/{{tag}}.svg" />
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #notSetLunch>
                <div (click)="addMealToEmpty(day.day, 'lunch')" class="col-6 food-block">
                    <span class="material-icons d-block plus-size">add</span>
                </div>
            </ng-template>
            <ng-template #notSetDinner>
                <div (click)="addMealToEmpty(day.day, 'dinner')" class="col-6 food-block">
                    <span class="material-icons d-block plus-size">add</span>
                </div>
            </ng-template>
        </div>
    </div>
</div>