<div class="container">
  <div class="row justify-content-center m-0">
    <div class="col-xs-12 col-sm-10 col-lg-8 m-auto text-center">
        <img width="80" src="assets/diet.svg" alt="Food Icon">
      <span id="title">Meal Planner</span>
    </div>
  </div>
</div>
<div class="container-flow">
  <div class="row justify-content-center m-0">
    <div class="col-xs-12 col-sm-10 col-lg-8 p-0">
      <nav mat-tab-nav-bar mat-align-tabs="center" mat-stretch-tabs class="">
        <a class="main-nav-tab" mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive
          #rla="routerLinkActive" [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>