/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-color:hsl(48, 19%, 95%) !important;
    width: 100%;
    overflow-x: hidden;
}